@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/asap/v15/KFO9CniXp96a4Tc2EZzSuDAoKsE61qhO.ttf) format('truetype');
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/asap/v15/KFO9CniXp96a4Tc2EZzSuDAoKsEI1qhO.ttf) format('truetype');
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/asap/v15/KFO9CniXp96a4Tc2EZzSuDAoKsHk0ahO.ttf) format('truetype');
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/asap/v15/KFO9CniXp96a4Tc2EZzSuDAoKsHd0ahO.ttf) format('truetype');
}
header {
  width: 100%;
  height: 108px;
  background-color: #fff;
}
header .header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  width: 1200px;
  margin: 0px auto;
  padding: 12px 0;
}
header .header span {
  margin-top: 31px;
}
header .header ul {
  display: flex;
}
header .header ul li {
  margin: 29px 18px;
}
header .header i {
  font-size: 24px;
}
header .header a {
  color: #183951;
}
header .header a:hover {
  color: #d1d2d3;
}
.image-full {
  background: url("../images/banner.png") no-repeat;
  width: 100%;
  height: 504px;
}
.image-full .mobile {
  display: none;
}
.image-full .banner-text {
  width: 960px;
  margin: 0px auto;
  display: block;
  padding-top: 91px;
}
.image-full h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
}
.image-full h3 {
  font-size: 36px;
  color: #00B4FF;
  line-height: 40px;
  font-weight: 500;
  padding: 10px 0px;
}
.image-full span {
  font-size: 24px;
  color: #fff;
}
.image-full span i {
  color: #CD201F;
}
.image-full .btn {
  width: 248px;
  padding: 15px 0;
  text-align: center;
  background: #00B4FF;
  color: #fff;
  border-radius: 5px;
  display: block;
  font-size: 24px;
  margin-top: 45px;
}
.content {
  width: 960px;
  margin: 0 auto;
}
.content .the-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-bottom: 80px;
}
.content .title {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 80px;
}
.content .row {
  background: #00B4FF;
  width: 85px;
  height: 4px;
  display: block;
  margin: 10px auto;
  margin-bottom: 40px;
}
.content h2 {
  font-size: 30px;
  line-height: 40px;
}
.content p {
  font-size: 17px;
  line-height: 26px;
  margin-top: 10px;
}
.content .event-text {
  display: flex;
}
.content .text {
  width: 415px;
  margin-right: 50px;
}
.content form {
  width: 467px;
  height: 410px;
}
.content form .conteudo-form {
  background: #F1F7FC;
  border-radius: 5px;
  padding: 40px;
}
.content form .conteudo-form span {
  font-size: 18px;
  display: block;
  line-height: 26px;
  margin-bottom: 20px;
}
.content form .conteudo-form label {
  display: block;
  padding-bottom: 10px;
}
.content form .conteudo-form input {
  display: block;
  width: 97%;
  height: 44px;
  margin-bottom: 28px;
  padding-left: 10px;
  font-family: 'Asap', sans-serif;
  outline: none;
  border: 1px solid #BAC7D5;
  border-radius: 5px;
}
.content form .btn {
  width: 100%;
  height: 44px;
  padding: 10px 0;
  text-align: center;
  background: #00B4FF;
  color: #fff;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  margin-top: 45px;
  outline: none;
  border: none;
  cursor: pointer;
}
.privacidade {
  font-size: 12px;
  line-height: 15px!important;
  margin-top: 12px;
  text-align: left;
}
.traducao {
  font-size: 14px!important;
  line-height: 20px!important;
  margin-top: 22px;
}
.convidados {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  text-align: center;
}
.convidados ul {
  display: flex;
}
.convidados ul li {
  padding: 0px 30px;
}
.convidados ul li img {
  border-radius: 50%;
}
.convidados ul li span {
  display: block;
  width: 191px;
}
.convidados ul li .name {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  padding: 8px 0;
}
.convidados ul li .profissao {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.journalist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
.journalist i {
  font-size: 36px;
  color: #00B4FF;
  float: left;
  margin: -4px 18px 0px 0px;
}
.journalist .mediacao {
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 1040px;
}
.journalist .mediacao .mediacao-text p {
  margin: 10px 0;
}
.journalist .apresentador {
  text-align: center;
}
.journalist .apresentador ul {
  display: flex;
}
.journalist .apresentador ul li {
  padding: 0px 30px;
}
.journalist .apresentador ul li img {
  border-radius: 50%;
}
.journalist .apresentador ul li span {
  display: block;
  width: 211px;
}
.journalist .apresentador ul li .name {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  padding: 8px 0;
}
.journalist .apresentador ul li .profissao {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 0;
  width: 100%;
  background: #F1F7FC;
  color: #183951;
  text-align: center;
  margin-top: 75px;
}
footer h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
footer ul {
  display: flex;
  margin: 15px auto;
}
footer span {
  line-height: 26px;
}
footer img {
  width: 70%;
}
